$ooLoop: ooPipe(
  _add('body.props', (
    background-color: #fff,
    word-break: break-word,
  )),
  _set('hr.props.margin', rem(45) auto),
  _set('headings.props.fontWeight', 700),
  _set('headings.classes', ('h2', 'h3', 'h4')),
);

$ooLoop: ooAdd('palette', (
  'danger': #da3b3b,
  'white': #fff,
  'lavender': #a172bf,
  'alert': #f15f63, 
  'sample': (
    'light': #87cadb,
    'dark': #459cb5,
    'darker': #176d84,
  ),
));
