
@include ooComponent('event') {
  padding: 1rem;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  border-radius: 1em;
  @include breakpoint(sm) {
    padding: 1.5rem;
  }

  time {
    padding: .5rem;
    margin: -1rem -1rem 1rem;
    display: block;
    color: #fff;
    font-size: rem(14);
    text-transform: uppercase;
    background-color: oo('palette.primary');
    @include breakpoint(sm) {
      margin: -1.5rem -1.5rem 1.5rem;
    }
  }
  h3 {
    margin: 0;
  }
  p {
    letter-spacing: .5px;
  }
}

@include ooComponentVariant('event', 'alert') {
  time { background-color: oo('palette.alert'); }
  h3::before {
    margin-bottom: 4px;
    display: block;
    content: '!!!Cancelled!!!';
    font-size: 1rem;
    color: oo('palette.alert');
  }
}