@import '../../../../loop/scss/loop';

$ooLoop: ooPipe(
  _add('body.props', (
    background-color: #fff,
    word-break: break-word,
  )),
  _set('hr.props.margin', rem(45) auto),
  _set('headings.props.fontWeight', 700),
  _set('headings.classes', ('h2', 'h3', 'h4')),
);

$ooLoop: ooAdd('palette', (
  'danger': #da3b3b,
  'white': #fff,
  'lavender': #a172bf,
  'alert': #f15f63, 
  'sample': (
    'light': #87cadb,
    'dark': #459cb5,
    'darker': #176d84,
  ),
));

// Column
$ooLoop: ooPipe(
  _add('column.gutter', (
    sizes: (
      'tiny': (
        rt: 0.5rem,
        sm: 1rem,
      ),
      'small': 1rem,
      'medium': 2rem,
      'large': (
        rt: rem(30),
        md: rem(50),
      )
    ),
    screens: ('sm', 'md'),
    vsizes: ('less' : 0),
  )),
  _add('column.alignment.screens', 'lg'),
  _set('column.childAlignment.use', true),
  _set('column.order', (
    use: true,
    screens: (
      sm: (0, 3),
      md: 0,
      lg: (0, 2),
    )
  )),
  _set('column.offset', (
    use: true,
    screens: sm,
  )),
);

// Template
$ooLoop: ooPipe(
  _set('template.areas', (
    'home': (
      rt: (
        "header"
        "main"
        "sidebar"
        "footer"
      ),
      sm: (
        "header header header header"
        "main main main sidebar"
        "footer footer footer footer"
      ),
    ),
    'abc': (
      rt: (
        "a" "b" "c"
      ),
      sm: (
        "a a"
        "c b"
        "c b"
      ),
      md: (
        "a a a"
        "b c c"
        "b c c"
      ),
      lg: (
        "a b b"
        "a c c"
        "a . ."
      ),
    ),
  )),
  _set('template.gap', (
    sizes: (
      default: 1rem,
      'less': 0,
      'small': (
        rt: .25rem,
        sm: .5rem,
      ),
    ),
    vsizes: (
      'less': 0,
    ),
    screens: ('sm', 'lg'),
    vscreens: this('template.gap.screens'),
  ))
);


// Button
$ooLoop: ooPipe(
  _add('button.colors', (
    'success': #8cc63f,
    'nectarine': #ffbe76,
    'yellow': #fffa65,
    'salmon': #ffb8b8,
    'purple': #8e44ad,
    'green-sea': #16a085,
  )),
  _set('button.outline', true),
  _add('button.variants', (
    'baggy': (
      padding: 1.5em 2em,
      text-transform: uppercase,
    ),
    'large': (
      font-size: 1.5rem,
    ),
    'tag': (
      padding: 0.1em 0.5em,
      font-weight: 500,
      border-radius: 50em,
    ),
    'stadium': (
      border-radius: 50em,
    ),
  ))
);

// Form
$ooLoop: ooPipe(
  _add('input.variants', (
    'danger': (
      border-color: #ca7878,
      background-color: #f9e4e4,
    ),
    'large': (
      padding: 1rem 1.25rem
    ),
    'rounded': (
      border-radius: 50em,
    ),
  )),
  _add('select.variants', (
    'secondary': (
      borderColor: #222,
      caret: (
        color: #fff,
        bgcolor: #222,
      )
    ),
  )),
  _add('checkbox.sizes', (
    'medium': 1.5rem,
    'large': 2rem,
  )),
  _set('checkbox.screens', (sm, md)),
  _set('radio.sizes.large', 2rem),
  _set('radio.screens', (sm)),
  _set('toggle.sizes.large', 2rem),
);

// Utilities
$ooLoop: ooPipe(
  /* Color */
  _add('color.font.values', (
    'body': this('body.props.color'),
    'warning': #ce8a0d,
  )),
  _add('color.background.values', (
    'danger': #f7c8c8
  )),
  _set('color.border.values', this('palette')),

  /* Typography */
  _add('typo', (
    fontSize: (values: (
      'tiny': rem(12),
      'medium': rem(16),
      'grow': (
        rt: 1rem,
        md: 1.25rem,
        lg: 1.5rem,
      ),
    )),
    fontWeight: (values: (
      'light': 300,
      'regular': 400,
      'heavy': 800,
    )),
    fontFamily: (values: (
      'code': (Consolas, Monaco, "Andale Mono", "Ubuntu Mono"),
      'monospace': monospace,
      'serif': (Georgia, "Times New Roman", Times),
    )),
    letterSpacing: (
      prefix: 'text',
      values: (
        'tight': -1px,
        'wide': .5px,
        'wider': 1.5px,
      )
    ),
    textAlign: (
      screens: (md, lg)
    ),
  )),

  /* spacing */
  _add('spacing.top.values', (
    '45': rem(45),
  )),
  _add('spacing.bottom.values', (
    'root': this('container.gutter'),
  )),

  /* wrapper */
  _add('wrapper', (
    values: (
      'less': 0,
      'tiny': .5rem,
      'wide': (
        rt: 1rem,
        sm: 2rem,
        md: 3rem,
        lg: 4rem,
      )
    ),
    screens: (
      sm: (), // none specified
      md: ('tiny', 'small', 'medium'),
      lg: ('small', 'medium')
    )
  )),

  /* extras */
  _add('utilities', (
    display: (
      prefix: 'd',
      values: 'block'
    ),
    overflow: (
      values: 'hidden',
    ),
    shape: (
      property: 'border-radius',
      values: (
        'squircle': 1em,
        'stadium': 50em,
      ),
    ),
  )),
);

// Misc
$ooLoop: ooSet('misc.thumbnail.props', (
  padding: 5px,
  border: 1px solid #d6d6d6,
  border-radius: 5px,
  background-color: #f7f7f7,
));