code,
pre {
  padding: 7px 15px;
  display: inline-block;
  color: #fff;
  font-size: 1.4rem;
  background-color: oo('body.props.color');
  border-radius: 3px;
}

code.inline {
  padding: 2px 8px;
  margin-left: 5px;
  margin-right: 5px;
  color: #424242;
  background-color: #e8e8e8;
}

pre {
  padding: 12px 15px;
  display: block;
  overflow: auto;
  code {
    padding: 0;
    display: block;
    counter-reset: section;
  }
  i::before {
    margin-right: 15px;
    display: inline-block;
    width: 17px;
    counter-increment: section;
    content: counter(section);
   
    font-style: normal;
    text-align: right;
    color: oo('colors.secondary');
  }
}