code,
pre {
  padding: 7px 15px;
  display: inline-block;
  color: #fff;
  font-size: 1.4rem;
  background-color: #263940;
  border-radius: 3px;
}

code.inline {
  padding: 2px 8px;
  margin-left: 5px;
  margin-right: 5px;
  color: #424242;
  background-color: #e8e8e8;
}

pre {
  padding: 20px;
  display: block;
  overflow: auto;
  code {
    padding: 0;
    display: block;
  }
}

.language-scss,
.language-css {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1.3rem;
  line-height: 1.4;

  .token {
    &.keyword {
      color: #ef9ac5;
    }
    &.string {
      color: #fbad75;
    }
    &.variable {
      color: #6cd7f7;
    }
    &.function {
      color: #ffff91;
    }
    &.punctuation {
      color: #fff;
    }
    &.selector {
      color: #ffd12b;
    }
    &.boolean {
      color: #fff;
    }
    &.comment {
      color: oo('palette.secondary');
    }
  }
}

.language-css {
  color: #fbad75;
  .token {
    &.property {
      color: #a5eaff;
    }
  }
}

.language-scss {
  color: #ddffd2;

  .token {
    &.property {
      color: #61ffaf;
    }
  }
}