code,
pre {
  padding: 7px 15px;
  display: inline-block;
  color: #fff;
  font-size: 1.4rem;
  background-color: oo('body.props.color');
  border-radius: 3px;
}
pre {
  padding: 12px 15px;
  display: block;
  overflow: auto;
  code {
    padding: 0;
    display: block;
  }
}