@import '../../../../loop/scss/loop';

$ooLoop: ooSet('body.props.backgroundColor', #f8f8f8);

$ooLoop: ooPaintFont((
  _this('colors'),
  (
    'blue': #6cd7f7,
    'green': #61ffaf,
    'orange': #ffaf4b,
    'pink': #ef9ac5,
    'yellow': #ffff91,
  )
));

$ooLoop: ooAdd('column.gutter.sizes', (
  'large': (
    rt: 2.4rem,
    md: 5rem,
  ) 
));

@include ooCreate;
