@import '../../../../loop/scss/loop';

$ooLoop: ooSet('body.props.backgroundColor', #f8f8f8);

$ooLoop: ooSet('headings.classes', ('h4'));

$ooLoop: ooAdd('spacing.top.values', (
  45: 4.5rem,
));

$ooLoop: ooAdd('column.gutter.sizes', (
  'large': (
    rt: 3rem,
    md: 5rem,
  ) 
));

@include ooCreate();
